@model DatabaseDesign.Models.HealthDeclaration

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HealthDeclaration</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Designation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Designation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NRIC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NRIC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuarantineOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuarantineOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CloseContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CloseContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fever)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fever)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agreement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agreement)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
