@model IEnumerable<DatabaseDesign.Models.HealthDeclaration>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicensePlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NRIC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuarantineOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CloseContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fever)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agreement)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NRIC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuarantineOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CloseContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fever)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agreement)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
